{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static  %}
{% block body %}
  

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{job_detail.Vacancy}} {{job_detail.title}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class=" align-items-center">
                                    <img src="{{job_detail.image.url}}" alt="image" 
                                    style=" border: 5px solid #ddd;border-radius: 4px;display: block;
                                    margin-left: auto;
                                    margin-right: 5px;
                                    width: 150px;height: 90px;">
                                </div>
                                <div class="jobs_conetent">
                                    <h4>{{job_detail.title}}</h4>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> California, USA</p>
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i>{{job_detail.job_type}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a class="heart_mark" href="#"> <i class="ti-heart"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Job description</h4>
                            <p>{{job_detail.description}}</p>
                          
                        </div>
                        
                        
                    </div>
                    <div class="apply_job_form white-bg">
                        <h4>Apply for the job</h4>
                        <form  method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form1 %}
                            {% buttons %}
                                <div class="submit_btn ">
                                  <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                                </div>    
                            {% endbuttons %}
                            
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="job_sumary">
                        <div class="summery_header">
                            <h3>Job Summery</h3>
                        </div>
                        <div class="job_content">
                            <ul>
                                <li>Published on: <span>{{job_detail.published_at|date:'d M o'}}</span></li>
                                <li>Vacancy: <span>{{job_detail.Vacancy}} Position</span></li>
                                <li>Salary: <span>{{job_detail.salary}}k/y</span></li>
                                <li>Location: <span>California, USA</span></li>
                                <li>Job Nature: <span> {{job_detail.job_type}}</span></li>
                            </ul>
                        </div>
                    </div>
                   
                   
                </div>
            </div>
        </div>
    </div>
{% endblock body %}